* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei';
}

ul,
li {
    list-style: none
}

.tabClick {
    background: #f3f3f3;
    overflow: hidden
}

.tabClick li {
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center
}

.tabClick li.active {
    color: #099;
    transition: 0.1s;
    font-weight: bold
}

.tabCon {
    overflow: hidden
}

.tabBox {
    position: relative
}

.tabList {
    word-break: break-all;
    width: 100%;
    height: 100%;
    float: left;
    line-height: 50px;
    text-align: center;
    color: #333;
    font-size: 18px;
}

.lineBorder {
    height: 2px;
    overflow: hidden;
    border-bottom: 1px solid #099;
    background: #f3f3f3
}

.lineDiv {
    background: #099;
    height: 2px;
}